.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  float: left;
  margin-left: 30px;
}

.content h3 {
  font-size: 20px;
}

.content p {
  background: lightgrey;
  text-align: center;
  border-radius: 5%;
  font-weight: bold;
}

.actions {
  padding: 1.5rem;
  float: right;
}
.actions button {
  font: inherit;
  cursor: pointer;
  color: white;
  border: 1px solid lightseagreen;
  background-color: lightseagreen;
  padding: 1rem 1rem;
  border-radius: 50%;
}

.actions button:hover,
.actions button:active {
  background-color: #B65FCF;
  border-color: #B65FCF;
}

@media screen and (max-width:480px){
  .card {
    display: flex;
  }

  .image {
    width: 50%;
  }
  .image img {
    height: 100%;
    justify-content: flex-start;
  }

  .content {
    float: right;
    padding-top: 20px;
    
  }

  .content h3 {
    overflow: hidden;
    white-space: nowrap;
  }

  .actions {
    padding: 1.5rem;
    float: right;
    padding-top: 50px;
  }
}
